<launch>

    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find drone_training)/config/qlearn_params.yaml" />

    <!-- Launch the training system -->
    <node pkg="drone_training" name="gym_train" type="start_training.py" output="screen"/>
    <node pkg="drone_training" name="reward_chart" type="live_reward_chart.py" output="screen"/> 
</launch>